smarthome/index.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <link href='http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css' rel='stylesheet'>
    <link href='css/app.css' rel='stylesheet'>
    <script src='http://code.jquery.com/jquery-1.10.2.min.js'></script>
    <script src='http://code.jquery.com/ui/1.10.3/jquery-ui.js'></script>
    <script src='js/app.js'></script>
  </head>
  <body>
    <div class='top-bar'>
      <ul>
        <li>
          <a href='#'>File</a>
          <a href='#'>Add</a>
        </li>
      </ul>
    </div>
    <div class='clearfix'></div>
    <section class='wrapper'>
      <aside>
        <div class='ui-widget-content' id='draggable-block'>
          <div class='ui-widget-content' id='draggable-block'></div>
        </div>
        <div class='ui-widget-content' id='draggable-round'>
          <div class='ui-widget-content' id='draggable-round'></div>
        </div>
      </aside>
      <main class='ui-widget-content' id='container'>
        main field
      </main>
      <div class='clearfix'></div>
    </section>
  </body>
</html>

smarthome/index.haml
!!! 5
%html 
	%head 
		%meta{ :charset=>'UTF-8'}/ 
		%link{:rel => "stylesheet", :href => "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"}/ 
		%link{:rel => "stylesheet", :href => "css/app.css"}/
		%script{ :src=>'http://code.jquery.com/jquery-1.10.2.min.js'}
		%script{ :src=>'http://code.jquery.com/ui/1.10.3/jquery-ui.js'}
		%script{ :src=>'js/app.js'} 
	%body
		.top-bar
			%ul 
				%li
					%a{:href => "#"} File  
					%a{:href => "#"} Add
		.clearfix
		%section.wrapper 
			%aside 
				#draggable-block.ui-widget-content
					#draggable-block.ui-widget-content
				#draggable-round.ui-widget-content
					#draggable-round.ui-widget-content	
			%main#container.ui-widget-content 
				main field
			.clearfix	
									
			
